
body {
    --background-color: #285340; 
    --color: #F7F3BC;
    --hover-color: #ECCC7B;
}

a.text:active, 
a.text {
  text-decoration: none;
  color: var(--color);
}

.container {
    max-width: 1780px;
    margin: 0 auto;
}

.header_row {
    display: flex;
    column-gap: 30px;
    align-items: center;
    justify-content:space-between;
    min-height: 100px;
    border-radius: 10px;

    background-color: var(--background-color);
    font-size: x-large;
    font-family: Montserrat, sans-serif;
    font-weight: 800;
}

.header_button {
    display: flex;
    align-items: center; 
    gap: 5px;
    border-radius: 10px;
    color: var(--color);
    text-decoration: none;

    padding: 0 30px;
}

.header_nav {
    display: flex;
    align-items: center;
    text-decoration: none;
    position: relative;

}

.username {
    font-family: Montserrat, sans-serif;
    font-size: large;
    font-weight: 800;
    color: var(--color) 
}

.header_button:hover {
    color: var(--hover-color);
}

.header_nav:hover {
    color: var(--hover-color);
}

.invisible {
    display: none;
}



.promo_row {
    margin-top: 8%;
    margin-bottom: 8%;
    display:flex;
    column-gap: 20px;
    align-items: center;
    justify-content:space-evenly;
}

.promo_img {
    max-width: 300px;
    max-width: 300px;
}

@media (max-width: 768px) {
    .promo_row {
        display: flex;
        padding: 30px;
        column-gap: 20px;
        flex-direction: column;
        align-items: center;
        justify-content:space-evenly;
    }
}

.promo_text_cont {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size:xx-large;
}

.promo_p {
    font-weight: 300;
}

.promo_button {
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-weight: 900;
    background-color: var(--background-color);
    color: var(--color);
    text-decoration: none;
}
.promo_button:hover {
    color: var(--hover-color);
}
